<%= render "shared/banner" %>

<div class="">
  <table class="table table-striped mt-5 mb-3 dashboard-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">View</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <th scope="row"><%= post.title %></th>
          <td> <%= post.created_at.strftime("%B %d, %Y") %> </td>
          <td> <%= link_to 'View', post_path(post), {:class => '' } %> </td> 
          <td> <%= link_to 'Edit Post', edit_post_path(post), {:"data-turbolink" => false}  %> </td>
          <td> <%= link_to "Delete Post", post_path(post), method: :delete, remote: true, data: {confirm: "Are you sure you would like to delete this post?"}, :style => 'color: red'%> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- <h1><%= @title %></h1>
<p><%= @content %></p>

<div class="row banner-padding">
  <div class="col">
    <div class="d-flex justify-content-around">
      <div class="home-posts">
        <% @posts.each do |post| %>
          <div class="individual-post mb-4 pb-5">
            <h3 class="post-title"><%= link_to post.title , post_path(post), {:class => 'header' } %></h3>
            <div class="post-text">
              <p>Created: <%=  post.created_at.strftime("%B %d, %Y") %></p>
              
              <div class="text-center">
                <div  class="btn btn-sm btn-outline-primary"> <%= link_to 'View', post_path(post), {:class => '' } %> </div>
                <div  class="btn btn-sm btn-outline-success"> <%= link_to 'Edit Post', edit_post_path(post), {:class => '' } %> </div>
                <%= link_to "Delete Post", post_path(post), method: :delete, remote: true, data: {confirm: "Are you sure you would like to delete this post?"}, :class => 'btn btn-sm btn-outline-danger'%>
              </div>
            </div>  
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div> -->