<%= render "shared/banner" %>

<h1><%= @title %></h1>
<p><%= @content %></p>

<div class="row banner-padding">
  <div class="col">
    <div class="d-flex justify-content-around">
      <div class="home-posts">
        <% @posts.each do |post| %>
          <div class="individual-post mb-4 pb-5">
            <h3 class="post-title"><%= link_to post.title , post_path(post), {:class => 'header' } %></h3>
            <div class="post-text">
              <div class="text-center">
                <div  class="btn btn-sm btn-outline-primary"> <%= link_to 'Continue Reading', post_path(post), {:class => '' } %> </div>
                <div  class="btn btn-sm btn-outline-success"> <%= link_to 'Edit Post', edit_post_path(post), {:class => '' } %> </div>
                <%= link_to "Delete Post", post_path(post), method: :delete, remote: true, data: {confirm: "Are you sure you would like to delete this post?"}, :class => 'btn btn-sm btn-outline-danger'%>
                
                
              </div>
            </div>  
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>