<%= render "shared/banner" %>

<div class="row d-flex justify-content-center">
  <div class="col-sm-12 col-md-8 col-lg-5">
    <div class="form-login">
      <h2 class="text-center pt-3">Log in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    label: false,
                    required: false,
                    autofocus: true,
                    placeholder: "Email",
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    label: false,
                    required: false,
                    placeholder: "Password",
                    input_html: { autocomplete: "current-password" } %>
        <div class="row d-flex small-form-actions">
          <span class="col-6 align-middle"><%= f.input :remember_me, :class => "align-middle", as: :boolean if devise_mapping.rememberable? %></span>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <span class="col-6 text-right"><%= link_to "Forgot password?", new_password_path(resource_name) %></span>
          <% end %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Log in", :class => "btn btn-primary" %>
        </div>
        <% end %>
        <div class="row d-flex justify-content-around py-3">
          <span class="col-5 align-middle"> <hr> </span>
          <span class="text-muted">or</span>
          <span class="col-5 align-middle"> <hr> </span>
        </div>        

        <%= link_to omniauth_authorize_path(resource_name, :facebook), :class => "btn fb-btn" do %>
          <i class="fab fa-facebook-square"></i>
          Log in with Facebook
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>

