<%= render "shared/banner" %>

<%= form_for :post, url: posts_path do |f| %>
    <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %></div>
      <% end %>
    <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field(:title, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.cktext_area(:body, {:class => 'form-control'}) %>
  </p>
  <div class="row">
    <div class="col text-right">
      <p class="d-inline">
        <%= f.submit "Publish!", class: 'btn btn-outline-primary', :name => "publish"  %>
      </p>
    <!-- </div>
    <div class="col"> -->
      <p class="d-inline">
        <%= f.submit "Save Draft!", class: 'btn btn-primary', :name => "draft"  %>
      </p>
    </div>
  </div>
<% end %>