<%= render "shared/banner" %>

<div class="row">
  <div class="col">
    <div class="d-flex justify-content-around">
      <div class="home-posts">
        <div class="text-center">
          <h3><%= @post.title %></h3>
        </div>
        <div class="post-text">
          <p><%= sanitize @post.body %></p>
        </div>  
        <hr>
        <% if policy(@post).edit? %>
          <%= link_to "Edit Post", edit_post_path(@post), :class => 'btn btn-outline-primary'%>
        <% end %>
        <% if policy(@post).destroy? %>
          <%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Are you sure you would like to delete this post?"}, :class => 'btn btn-outline-danger'%>
          <hr>
        <% end %>
        <div id="comments">
          <%= render 'comments/form' %>
          <%= render 'comments/comments' %>
        </div>
      </div>
    </div>
  </div>

</div>