<%= render "shared/banner" %>

<div class="row banner-padding">
  <div class="col">
    <div class="d-flex justify-content-around">
      <div class="home-posts">
        <div class="text-center">
          <h3><%= @post.title %></h3>
        </div>
        <div class="post-text mb-5">
          <p><%= sanitize @post.body %></p>
          <p class="post-date" ><%=  @post.publish_date.strftime("%B %d, %Y") %></p>
        </div>  
        <hr>

        <div id="comments" class="mt-3">
          <h3  class="text-center comment-title my-3">Comments</h3>
          <div class="my-2"><%= render 'comments/form'%></div>
          <div class="my-2"><%= render 'comments/comments' %></div>
        </div>
      </div>
    </div>
  </div>
</div>