<!DOCTYPE html>
<html>
  <head>
    <title>Borderline Basic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/92184183_10219338303540626_4133221443267723264_n.jpg?_nc_cat=109&_nc_sid=85a577&_nc_oc=AQmDbpaYwX9ptS0sC1_GWX6dU5a91VQd5mkzTkwhKvN28s7uDnS9t8w4ttnoxu_AhC21R_Q-NGryahRQ5kTMRsvU&_nc_ht=scontent-ort2-2.xx&oh=ea7060bac2f4c10f6a153de922a780df&oe=5EF5C38B' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    
  </head>

  <body>
    <div class="content">
      <%= render "shared/navbar" %>
      <%= render 'shared/flashes' %>
      
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
